<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Skylar Wang">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Checkout | MonoMuse</title>

</head>
<body>
    <header>
        <h1>Checkout</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <h2>Complete Your Ticket Order</h2>

        <form action="#" method="get">
            <p>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required>
            </p>

            <p>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required>
            </p>

            <p>
                <label for="quantity">Ticket Quantity:</label><br>
                <input type="number" id="quantity" name="quantity" min="1" required>
            </p>

            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>

    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>


</body>
</html>
